.container {
    padding: 2rem;
    background-color: #012c37;
  }
  
  .announ_heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    /* text-align: center; */
    color: white;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .tabButton {
    padding: 0.6rem 1.5rem;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .tabButton:hover {
    background-color: #e2e2e2;
  }
  
  .active {
    background-color: #005555;
    color: white;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 1.5rem;
    position: relative;
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .cardTitle {
    font-size: 18px;
    font-weight: 600;
  }
  
  .badges {
    display: flex;
    gap: 0.5rem;
  }
  
  .badge {
    background-color: #007bff;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 20px;
  }
  
  .cardDesc {
    font-size: 14px;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .readMore {
    font-size: 14px;
    color: #005555;
    text-decoration: underline;
    cursor: pointer;
  }

  

  